## String Based Assignment Problem:

1. Write a program to reverse a string.

In [17]:
word = 'pythonbasics'

word[::-1]

'scisabnohtyp'

2. Check if a string is a palindrome.

In [18]:
word = input('enter a string:')
reverse_word = word[::-1]
    
if(reverse_word == word):
    print(f'{word} is a palindrome')
else:
    print(f'{word} is NOT a palindrome')

enter a string: civic

civic is a palindrome

3. Convert a string to uppercase.

In [19]:
string = "python"
string.upper()

'PYTHON'

4. Convert a string to lowercase.

In [20]:
word = "GOVERNMENT"
word.lower()

'government'

5. Count the number of vowels in a string.

In [26]:
vowels = ['a','e','i','o','u']
word = 'aekoruaeiou'
vowel_num = word.count('a')+word.count('e')+word.count('i')+word.count('o')+word.count('u')
print(vowel_num)

9

6. Count the number of consonants in a string.

In [4]:
word = 'pythonBAsics' 
lower_words = word.lower()
consonants = 'bcdfghjklmnpqrstvwxyz'
consonant_count = sum(1 for letter in lower_words if letter in consonants )
print(consonant_count)

4500

7. Remove all whitespaces from a string.

In [10]:
word = '  pythonbasics'
word_trimmed = word.replace(' ','')
print(word_trimmed)
print(word)

pythonbasics
  pythonbasics

8. Find the length of a string without using the `len()` function.

In [3]:
word = '  pythonbasics'
word_tr = word.translate(str.maketrans('','',' '))
char_count = sum(1 for string in word_tr )
print(char_count)

12

9. Check if a string contains a specific word.

In [19]:
word = 'hello my name is trevor serem and i love coding in python'
check = input(f"search for a word in this sentence ({word}):")

if check in word:
    print(check)
else:
    print('not found')

search for a word in this sentence (hello my name is trevor serem and i love coding in python): frre

not found

10. Replace a word in a string with another word.

In [2]:
s = 'python is the best programming language'
x = s.replace('python', 'javascript')
print(x)

javascript is the best programming language

11. Count the occurrences of a word in a string.

In [10]:
s1 = 'bmw is a good car,the bmw is also consumes less fuel,the bmw is also easy to maintain'
count = 0
for word in s1.split():
    if word == 'bmw':
        count+=1
print(count)

3

12. Find the first occurrence of a word in a string.

In [24]:
s1 = 'we all love cars,bmw is a good car,the bmw is also consumes less fuel,the bmw is also easy to maintain'
word = 'bmw'
index = s1.find(word)
if index != -1:
    print(f"the first occurence of bmw was found at index {index}")
else:
    print("word not found")

the first occurence of bmw was found at index 17

13. Find the last occurrence of a word in a string.

In [23]:
s1 = 'we all love cars,bmw is a good car,the bmw is also consumes less fuel,the bmw is also easy to maintain'
words = s1.split()

# Initialize a variable to store the index of the last occurrence
last_index = -1

# Iterate through the enumerated words in reverse
for index, word in reversed(list(enumerate(words))):
    if word == 'bmw':
        last_index = index
        break

if last_index != -1:
    print(f"The last occurrence of 'bmw' is at index: {last_index}")
else:
    print("'bmw' was not found in the string.")

The last occurrence of 'bmw' is at index: 14

14. Split a string into a list of words.

In [42]:
s1 = 'we all love cars,bmw is a good car,the bmw is also consumes less fuel,the bmw is also easy to maintain'
s2 = s1.split() #using the split function to split s1 to individual words
print(s2)

['we', 'all', 'love', 'cars,bmw', 'is', 'a', 'good', 'car,the', 'bmw', 'is', 'also', 'consumes', 'less', 'fuel,the', 'bmw', 'is', 'also', 'easy', 'to', 'maintain']

15. Join a list of words into a string.

In [38]:
s3 = ['we', 'all', 'love', 'cars,bmw', 'is', 'a', 'good', 'car,the', 'bmw', 'is', 'also', 'consumes', 'less', 'fuel,the', 'bmw', 'is', 'also', 'easy', 'to', 'maintain']
s4 = ' '.join(s3) # using join function with an empty space as the separator 
print(s4)

we all love cars,bmw is a good car,the bmw is also consumes less fuel,the bmw is also easy to maintain

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [46]:
s1 = 'python is a good programming language'
s2 = s1.split()
s3 = '_'.join(s2)
print(s3)

python_is_a_good_programming_language

17. Check if a string starts with a specific word or phrase.

In [55]:
# using startswith function
s = "Hello, world! How are you?"
word_to_check = "Hello"

if s.startswith(word_to_check):
    print(f"The string starts with '{word_to_check}'.")
else:
    print(f"The string does not start with '{word_to_check}'.")

The string starts with 'Hello'.

18. Check if a string ends with a specific word or phrase.

In [61]:
# using startswith function
s = "Hello, world! How are you?"
word_to_check = "How are you?"

if s.endswith(word_to_check):
    print(f"The string ends with '{word_to_check}'.")
else:
    print(f"The string does not end with '{word_to_check}'.")

The string ends with 'How are you?'.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [63]:
s1 = 'python is a good programming language'
s2 = s1.title()
print(s2)

Python Is A Good Programming Language

20. Find the longest word in a string.

In [69]:
s1 = 'python is a good programming language'
s2 = s1.split()
longest_word = ""
max_length = 0
for word in s2:
    st_num = len(word)
    if st_num > max_length:
        max_length = st_num
        longest_word = word
        
print('longest word is: ',longest_word)
print('the length is: ', st_num)

longest word is:  programming
the length is:  8

21. Find the shortest word in a string.

In [78]:
s1 = 'python is a good programming language'
s2 = s1.split()
shortest_word = ""
min_length = float('inf')
for word in s2:
    st_num = len(word)
    if st_num < min_length:
        min_length = st_num
        shortest_word = word
        
print('the shortest word: ',shortest_word)
print('the length is: ',min_length)

the shortest word:  a
the length is:  1

22. Reverse the order of words in a string.

In [15]:
s1 = 'python is a good programming language'
s2 = s1.split()
s3 = s2[::-1]
s4 = ' '.join(s3)
print(s4)

language programming good a is python

23. Check if a string is alphanumeric.

In [13]:
s5 = 'kenya001'
punctuation_char = [',',' ','*','(',')']
is_alphanumeric = True
for letter in s5:
    if letter in punctuation_char:
        is_alphanumeric = False
        break
if is_alphanumeric:
    print('the string is alphanumeric')
else:
    print('the string is not alphanumeric')

the string is alphanumeric

24. Extract all digits from a string.

In [32]:
s5 = 'kenya001 serem53 is haS 1000 DOLLARS'
s5_digits = []
digits = ('0','1','2','3','4','5','6','7','8','9')
for char in s5:
    if char in digits:
        s5_digits.append(char)
    
print(s5_digits)

['0', '0', '1', '5', '3', '1', '0', '0', '0']

In [55]:
# using regular expression
import re
s2 = 'KENYA001 is the best country'
s2_digits = re.findall(r'\d', s2)
print(s2_digits)

['0', '0', '1']

25. Extract all alphabets from a string.

In [48]:
s2 = 'KENYA001 is the best country'
s3 = s2.lower()
s3_alphabets = []
alphabets = list('abcdefghijklmnopqrstuvwxyz')
for char in s3:
    if char in alphabets:
        s3_alphabets.append(char)
s3_alphabets = ''.join(s3_alphabets)  
s3_alphabets = s3_alphabets.upper()
print(s3_alphabets)

KENYAISTHEBESTCOUNTRY

In [51]:
#using list comprehension
s2 = 'KENYA001 is the best country'
s2_alphabets = [char for char in s2 if char.isalpha()]
print(s2_alphabets)

['K', 'E', 'N', 'Y', 'A', 'i', 's', 't', 'h', 'e', 'b', 'e', 's', 't', 'c', 'o', 'u', 'n', 't', 'r', 'y']

26. Count the number of uppercase letters in a string.

In [10]:
s2 = 'KENYA001 is the best country'
# list comprehension
s3 = [char for char in s2 if char.isalpha()]
upper_num = 0
for letter in s3:
    if letter.isupper():
        upper_num+=1
print(upper_num)

5


27. Count the number of lowercase letters in a string.

In [16]:
s2 = 'KENYA001 is the best country'
# list comprehension
s3 = [char for char in s2 if char.isalpha()]
lower_num = 0
for letter in s3:
    if letter.islower():
        lower_num+=1
print(lower_num)

16

28. Swap the case of each character in a string.

In [29]:
s2 = 'KENYA001 is the best country'
s3 = [letter.lower() if letter.isupper() else letter.upper() for letter in s2 ]
s3 = ''.join(s3)
print(s3)

kenya001 IS THE BEST COUNTRY

29. Remove a specific word from a string.

In [58]:
s2 = 'KENYA001 is the best country'
s3 = s2.split()
word_del = 'country'

if word_del  in s3:
    s3.remove(word_del)
    s3 = ' '.join(s3)
    print(s3)
else:
     print('the word is not found')

KENYA001 is the best

30. Check if a string is a valid email address.

In [44]:
import re
# Test cases
email = 'trevorserem53@gmail.com'
email1 = "john.doe@example.com"
email2 = "invalid-email"
email3 = "user@subdomain.domain"
email4 = "name@123.45"
email5 = "noatsign.com"

pattern = r'^([\w\.\-]+[\@\w\.\-]+\.\w+)$'
#^ and $: These are anchors that represent the start and end of the string
def check_mail(email):
    return re.match(pattern, email) is not None
if check_mail(email):
    print('the email is valid')
else:
    print('the email is not valid')

the email is valid

In [29]:
pip install validate_email

Collecting validate_email
  Downloading validate_email-1.3.tar.gz (4.7 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: validate_email
  Building wheel for validate_email (setup.py) ... done
  Created wheel for validate_email: filename=validate_email-1.3-py3-none-any.whl size=5467 sha256=dee4ce7fe07590ac0839cd4305b8c8ecb2a085015521144756cc8dd0c48064c4
  Stored in directory: /home/jovyan/.cache/pip/wheels/2a/7c/c9/0a5b1d17f87faadbf9c515122c4916f1f5b2cd34fca25b90af
Successfully built validate_email
Installing collected packages: validate_email
Successfully installed validate_email-1.3
Note: you may need to restart the kernel to use updated packages.

In [33]:
# using validate_email library
from validate_email import validate_email

email = 'trevorserem53@gmail.com'
email1 = "john.doe@example.com"
email2 = "invalid-email"
email3 = "user@subdomain.domain"
email4 = "name@123.45"
email5 = "noatsign.com"


if validate_email(email2):
    print('the email is valid')
else:
    print('the email is invalid')

the email is invalid

31. Extract the username from an email address string.

In [46]:
# using regular expression library
import re
email = 'trevorserem53@gmail.com'

match = re.match(r'^([\w\.\-]+)@', email)
if match:
    username = match.group(1)
print(username)

trevorserem53

In [48]:
# using split method on string
email = 'trevorserem53@gmail.com'
username =email.split('@')
#selecting the first part of the username
print(username[0])

trevorserem53

32. Extract the domain name from an email address string.

In [5]:
# using split method on string
#using re.match  tries to match the regular expression pattern from the beginning of the string.
import re
email = 'trevorserem53@gmail.com'
match = re.match(r'^([\w\.\-]+)@([\w]+).', email)
if match:
    domain = match.group(2)
    print(domain)

gmail

In [8]:
# using re.search  searches for the pattern anywhere in the string.
import re 
email = 'trevorserem53@gmail.com'
search = re.search(r'@([\w]+).', email)
if search:
    domain = search.group(1)
    print(domain)

gmail

33. Replace multiple spaces in a string with a single space.

In [25]:
s1 = 'i love python.  python   is      a goood programming language'
spaces = ['  ','   ','    ','  ']
for space in spaces:
    if space in s1:
        s1 = s1.replace(space, ' ')
print(s1)

i love python. python is a goood programming language

In [15]:
# using re
import re

s1 = 'i love python.  python    is     a goood programming language'
pattern = r'\s+'
replacement = ' '

s1 = re.sub(pattern, replacement, s1)

print(s1)

i love python. python is a goood programming language

In [29]:
#using list comprehension
s1 = 'i love python.  python    is                      a goood programming language'
# Split the string into words, filter out empty strings, and join with a single space
s1 = ' '.join(s1.split())
print(s1)

i love python. python is a goood programming language

34. Check if a string is a valid URL.

In [36]:
import re
url = 'https://drive.google.com/'
url1 = 'http://drive.google.com/'
search = re.search('https://|http://', url)
if search:
    print('the url is valid')
else:
    print('the url is not valid')

the url is valid

In [37]:
## using validators library

In [39]:
pip install validators

Collecting validators
  Downloading validators-0.21.2-py3-none-any.whl (25 kB)
Installing collected packages: validators
Successfully installed validators-0.21.2
Note: you may need to restart the kernel to use updated packages.

In [44]:
import validators
url = "https://www.example.com"
if validators.url(url):
    print('valid url')
else:
    print('invalid url')

valid url

35. Extract the protocol (http or https) from a URL string.

In [52]:
import re
url = "https://www.example.com"
url1 = "http://www.example.com"
search = re.search(r'(https|http)', url)
if search:
    protocol = search.group(1)
    print(protocol)

https

36. Find the frequency of each character in a string.

In [18]:
# using dictionary 
s2 = 'today is a good day'
# Create an empty dictionary to store character frequencies
char_freq = {}
for char in s2:
    if char != ' ':
        char_freq[char] = char_freq.get(char,0)+1
for char,freq in char_freq.items():
    print(f"character: {char} frequency: {freq}")

character: t frequency: 1
character: o frequency: 3
character: d frequency: 3
character: a frequency: 3
character: y frequency: 2
character: i frequency: 1
character: s frequency: 1
character: g frequency: 1

In [19]:
# another way
s2 = 'today is a good day'
char_count = {}
for char in s2:
    if char != ' ':
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
for key, value in char_count.items():
    print(f"character: {key} frequency: {value}")

character: t frequency: 1
character: o frequency: 3
character: d frequency: 3
character: a frequency: 3
character: y frequency: 2
character: i frequency: 1
character: s frequency: 1
character: g frequency: 1

37. Remove all punctuation from a string.

In [29]:
import string
s2 = 'hello! world.come, today..'
s3 = list(s2)
punctuation = list(string.punctuation)
for char in s3:
    if char in punctuation:
        s3.remove(char)
        
s4 = ''.join(s3)
        
print(s4)

hello worldcome today.

38. Check if a string contains only digits.

In [18]:
# using str.isdigit() method
def is_all_digits(string):
    if string.isdigit():
        return 'the string contains only digits'
    else:
        return 'the string is not all digits'

In [20]:
s = '12345 trevor'
is_all_digits(s)

'the string is not all digits'

39. Check if a string contains only alphabets.

In [4]:
string = 'i love python language2'
# remove spaces
string2 = string.replace(' ','')
if string2.isalpha():
    print('string is only alpahbets')
else:
    print('string not fully alphabets')

string not fully alphabets

In [15]:
##checking each character individually
string = 'i love python language2'
string1 = string.replace(' ','')
is_alpha = True
for letter in string1:
    if not letter.isalpha():
        is_alpha = False
        break
        
if is_alpha:
    print('string is only alpahbets')
else:
    print('string not fully alphabets')

string not fully alphabets

40. Convert a string to a list of characters.

In [14]:
s2 = 'i love python'
s3 = s2.replace(' ','')
s4 = list(s3)
s4

['i', 'l', 'o', 'v', 'e', 'p', 'y', 't', 'h', 'o', 'n']

41. Check if two strings are anagrams.

In [19]:
def is_anagrams(str1,str2):
    #remove spaces and convert both strings to lowercase for case-insensitivity
    str1 = str1.replace(' ','').lower()
    str2 = str2.replace(' ','').lower()
    #check if the lengths are the same
    if len(str1) != len(str2):
        return False
    else:
        # use dictionaries to count the frequency of characters in both strings 
        char_count1 = {}
        char_count2 = {}
        #count characters in str1
        for char in str1:
            if char in char_count1:
                char_count1[char] += 1
            else:
                char_count1[char] = 1
         #count characters in str2
        for char in str2:
            if char in char_count2:
                char_count2[char] += 1
            else:
                char_count2[char] = 1
        if char_count1 == char_count2:
            return True

In [23]:
str1 = 'serem'
str2 = 'meres'
result = is_anagrams(str1,str2)
if result:
    print(f'{str1} and {str2} are anagrams')
else:
    print(f'{str1} and {str2} are not anagrams')

serem and meres are anagrams

42. Encode a string using a Caesar cipher.

In [58]:
def cipher(text,shift):
    letters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    encoded_text = ''
    for char in text:
        if char.islower():
            char = char.upper()
        if char in letters:
            char_index = letters.index(char)
            encoded_index = (char_index + shift)
            if encoded_index >= 26:
                encoded_index = encoded_index%26
            encoded_char = letters[encoded_index]
            encoded_text += encoded_char
        else:
            encoded_text += char
    return encoded_text

In [62]:
text = 'xavier'
shift = 3
if text.islower():
    result = cipher(text,shift).lower()
else:
    result = cipher(text,shift)
print(f'the ceaser cipher of the word {text} is {result}')

the ceaser cipher of the word xavier is adylhu

43. Decode a Caesar cipher encoded string.

In [71]:
def decode(text,shift):
    letters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    decoded_text  = ''
    for char in text:
        if char.islower():
            char = char.upper()
        if char in letters:
            char_index =letters.index(char)
            decoded_index = (char_index-shift)
            decoded_char = letters[decoded_index]
            decoded_text += decoded_char
        else:
            decoded_text += char
    return decoded_text

In [72]:
text = 'adylhu'
shift = 3
if text.islower():
    result = decode(text,shift).lower()
else:
    result = decode(text,shift)
print(f'the  decoded ceaser cipher of the word {text} is {result}')

the  decoded ceaser cipher of the word adylhu is xavier

44. Find the most frequent word in a string.

In [15]:
##remove punctuation characters  first isng re
import string
def remove_punctuation(text):
    punctuation_chars = string.punctuation
    for char in text:
        if char in punctuation_chars:
            text = text.replace(char,'')
    return text

In [27]:
s1 = 'trevor, trevor, trevor'
s2 = remove_punctuation(s1)
s2 = s2.split()
count_dict = {}
high_freq = 0
for word in s2:
    if word in count_dict:
        count_dict[word] += 1
    else:
        count_dict[word] = 1
for key,value in count_dict.items():
    if value > high_freq:
        high_freq = value
        print(f'{key} is the word with the highest frequency of {value}')

trevor is the word with the highest frequency of 3

45. Find all unique words in a string.

In [32]:
def find_unique_words(input_string):
    # split by spaces
    words = input_string.split()

    # Create a set to store unique words sets cannot contain duplicate elements!!
    unique_words = set()

    # Iterate through the words and add them to the set
    for word in words:
        # Remove punctuation and convert to lowercase (if needed)
        cleaned_word = word.strip(".,!?").lower()
        unique_words.add(cleaned_word)

    return unique_words

# Example usage:
input_string = "This is a sample string. It contains some sample words."
unique_words = find_unique_words(input_string)

# Print the unique words
print('unique-words:')
for word in unique_words:
    print(word)

unique-words:
sample
a
this
string
words
contains
some
it
is

46. Count the number of syllables in a string.

In [33]:
def count_syllables(word):
    # Convert the word to lowercase to simplify checks
    word = word.lower()
    
    # Define a list of common syllable prefixes and suffixes
    prefixes = ['anti', 'auto', 'bio', 'dis', 'mis', 'pre', 'un', 'inter']
    suffixes = ['es', 'ed', 'ing', 'ly']
    
    # Initialize a count of syllables
    syllable_count = 0
    
    # Handle some special cases
    if word in ['a', 'e', 'i', 'o', 'u']:
        syllable_count = 1
    elif word.endswith('e'):
        syllable_count = max(1, syllable_count)
    
    # Iterate through the characters in the word
    for char in word:
        if char in 'aeiouy':
            syllable_count += 1
    
    # Adjust for prefixes and suffixes
    for prefix in prefixes:
        if word.startswith(prefix):
            syllable_count -= 1
    
    for suffix in suffixes:
        if word.endswith(suffix):
            syllable_count -= 1
    
    # Ensure the count is at least 1
    syllable_count = max(1, syllable_count)
    
    return syllable_count

# Example usage:
input_string = "Hello, this is an example sentence."
words = input_string.split()

for word in words:
    print(f"{word}: {count_syllables(word)} syllables")

Hello,: 2 syllables
this: 1 syllables
is: 1 syllables
an: 1 syllables
example: 4 syllables
sentence.: 3 syllables

47. Check if a string contains any special characters.

In [13]:
import re
def check_special_char(input_string):
      # Define a pattern to match special characters
    pattern = r'[!,@#$%^&*()_+{}[]|\/:;<>,.?~-]'
     # Use re.search to check if any character in the input_string matches the pattern
    match = re.search(pattern, input_string)
    if match:
        print('string contains special characters')
    else:
        print('String does not contain special characters')
            
       
 # Test the function           
check_special_char('hey,')

string contains special characters

48. Remove the nth word from a string.

In [21]:
def remove_word(text,n):
    words = text.split()
    if n >= 1 and n <= len(words):
        words.pop(n-1)
        new_words = ' '.join(words)
        return  new_words
    else:
        print('invalid number to be removed')
        
remove_word('hello will you come tomorrow', 3)

'hello will come tomorrow'

49. Insert a word at the nth position in a string.

In [22]:
def add_word(text,n):
    words = 'hello will come tomorrow'
    words = words.split()
    if n >= 1 and n <= len(words):
        words.insert(n-1, text)
        new_words = ' '.join(words)
        return  new_words
    else:
        print('invalid number to be removed')
        
add_word('trevor', 3)

'hello will trevor come tomorrow'

50. Convert a CSV string to a list of lists.

In [3]:
input_string = """Name,Age,Location
John,30,New York
Alice,25,Los Angeles
Bob,35,Chicago
"""
lines = input_string.strip().split('\n')   # Remove leading/trailing whitespace and split by newline
result = []
for line in lines:
    fields = line.split(',')
    result.append(fields)
print(result)

[['Name', 'Age', 'Location'], ['John', '30', 'New York'], ['Alice', '25', 'Los Angeles'], ['Bob', '35', 'Chicago']]

In [4]:
## csv module, which provides functions for working with CSV data
import csv
from io import StringIO

# Sample CSV string
csv_string = """Name,Age,Location
John,30,New York
Alice,25,Los Angeles
Bob,35,Chicago"""

# Create a StringIO object to simulate a file-like object
csv_file = StringIO(csv_string)
# Initialize a CSV reader
csv_reader = csv.reader(csv_file)
# Convert the CSV data to a list of lists
csv_data = [row for row in csv_reader]
# Print the resulting list of lists
for row in csv_data:
    print(row)

['Name', 'Age', 'Location']
['John', '30', 'New York']
['Alice', '25', 'Los Angeles']
['Bob', '35', 'Chicago']

## List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [8]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [12]:
my_list = list(range(1,11))
count = 0
for i in my_list:
    count += 1
print('the length of my_list is',count)

the length of my_list is 10

3. Append an element to the end of a list.

In [15]:
my_list1 = list(range(5))
add_element = 12
my_list1.append(add_element)
print(my_list1)

[0, 1, 2, 3, 4, 12]

4. Insert an element at a specific index in a list.

In [19]:
my_list2 = list(range(5))
# Insert the new element at the specified index
# 3 = index to be inserted and 13 = element to be inserted
my_list2.insert(3, 13)
print(my_list2)

[0, 1, 2, 13, 3, 4]

5. Remove an element from a list by its value.

In [22]:
my_list = [1,2,3,4,5,6]
my_list.remove(4)
print(my_list)

[1, 2, 3, 5, 6]

remove() removes an element by its value and doesn't require specifying an index. It's useful when you know the value you want to remove.

pop() removes an element by its index and returns the removed element. It's useful when you need to access and use the removed element, or when you want to remove elements from specific positions in the list.

6. Remove an element from a list by its index.

In [23]:
my_list = [1,2,3,4,5,6]
my_list.pop(4)
print(my_list)

[1, 2, 3, 4, 6]

7. Check if an element exists in a list.

In [1]:
my_list = [1,2,3,4,5,6]
search_element = 12
for i in my_list:
    if i == search_element:
        print('the element exists')
        break
else:
    print('the element does not exist')

the element does not exist

8. Find the index of the first occurrence of an element in a list.

In [8]:
# Example list
my_list = [1,2,3,4,5,3]

# Element to find the index of
element_to_find = 3

# Find the index of the first occurrence of the element
index = my_list.index(element_to_find)

# Print the index
print(f"The index of {element_to_find} is {index}")

The index of 3 is 2

9. Count the occurrences of an element in a list.

In [13]:
my_list = [1,2,3,4,5,3,5,5,5,5]
occurences = {}
for i in my_list:
    if i in occurences.keys():
        occurences[i] += 1
    else:
        occurences[i] = 1
        
for key,value in occurences.items():
    print(f'{key} is repeated {value} times')

1 is repeated 1 times
2 is repeated 1 times
3 is repeated 2 times
4 is repeated 1 times
5 is repeated 5 times

10. Reverse the order of elements in a list.

In [17]:
#  slicing the list with a step of -1. 
my_list = [1,2,3,4,5]
reversed_list  = my_list[::-1]
print(reversed_list)

[5, 4, 3, 2, 1]

In [18]:
# using reverse() function
# Example list
my_list = [1,2,3,4,5]

# Reverse the order of elements in the list
my_list.reverse()

# Print the reversed list
print("Reversed list:", my_list)

Reversed list: [5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [22]:
my_list = [4,3,1,5,2]
my_list.sort()
print(my_list)

[1, 2, 3, 4, 5]

12. Sort a list in descending order.

In [28]:
# using sorted() this will not modify the original list
my_list = [4,3,1,5,2]
des = sorted(my_list,reverse=True)
print(des)

[5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [31]:
# using range()
my_list = list(range(2,21,2))
print(my_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [32]:
# using list compreensions
even_numbers = [i for i in range(2,21,2)]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [4]:
my_list =list(range(1,21,2))
print(my_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [5]:
my_list = [2,4,6,8,10]
total_sum = 0
for i in my_list:
    total_sum = total_sum+i
print(total_sum)

30

In [6]:
# using sum()
my_list = [2,4,6,8,10]
total_sum = sum(my_list)
print(total_sum)

30

16. Find the maximum value in a list.

In [9]:
# using max function
my_list = [2,4,6,8,10,122]
max_value = max(my_list)
print(max_value)

122

17. Find the minimum value in a list.

In [10]:
# using min function
my_list = [2,4,6,8,10,122]
min_value = min(my_list)
print(min_value)

2

18. Create a list of squares of numbers from 1 to 10.

In [12]:
my_list = [1,2,3,4,5,6,7,8,9,10]
squared_list = []
for i in my_list:
    squared_list.append(i*i)
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
# Use a list comprehension to create a list of squares of numbers from 1 to 10
squares = [x ** 2 for x in range(1, 11)]

# Print the list of squares
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [3]:
import random 
# creating a list of random numbers between 1 and 50
random_nums = [random.randint(1,50) for i in range(10)]
print(random_nums)

[39, 38, 31, 42, 15, 40, 11, 47, 10, 46]

20. Remove duplicates from a list.

In [6]:
my_list = [1,2,2,3,4,5,5]
duplicates = []
for i in my_list:
    if i in duplicates:
        my_list.remove(i)
    else:
        duplicates.append(i)
print(my_list)

[1, 2, 3, 4, 5]

In [9]:
#Remove duplicates by converting to a set and back to a list
my_list = [1,2,2,3,4,5,5]
myset = set(my_list)
unique_list = list(myset)
print(unique_list)

[1, 2, 3, 4, 5]

21. Find the common elements between two lists.

In [14]:
mylist1 = [1,2,3,4,5]
mylist2 = [5,6,7,8,9]
common_elements = []
for i in mylist1:
    if i in mylist2:
        common_elements.append(i)
print(common_elements)

[5]

22. Find the difference between two lists.

In [15]:
# Example lists
list1 = [1,2,3,4,5]
list2 = [3,4,5,6,7]

# Find the difference between lists using the difference() method
difference = list(set(list1).difference(list2))

# Print the difference
print("Difference between lists:", difference)

Difference between lists: [1, 2]

23. Merge two lists.

In [1]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

merged_list =(list1+list2)
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24. Multiply all elements in a list by 2.

In [8]:
list1 = [1,2,3,4,5]
list2 = [i*2 for i in list1 ]
print(list2)

[2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [13]:
# getting even numbers first then removing them from list1
list1 = [2,4,5,8,9,11]
even_num = [i for i in list1 if i%2 == 0]
for i in even_num:
    if i in list1:
        list1.remove(i)
print(list1)

[5, 9, 11]

26. Convert a list of strings to a list of integers.

In [15]:
list1 = ['1','2','3','4','5','6']
list2 = []
for i in list1:
    i = int(i)
    list2.append(i)

print(list2)

[1, 2, 3, 4, 5, 6]

27. Convert a list of integers to a list of strings.

In [17]:
list1 = [1,2,3,4,5,6]
list2 = [str(i) for i in list1 ]
print(list2)

['1', '2', '3', '4', '5', '6']

28. Flatten a nested list.

In [20]:
nested_list = [[1,2,3],[4,5],[6,7,8,9]]
flattened_list = []
for i in nested_list:
    for element in i:
        flattened_list.append(element)
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [30]:
a = 0
b = 1
fib_num = [a,b]
while len(fib_num) < 10:
    next_num = fib_num[-1]+fib_num[-2]
    fib_num.append(next_num)
print(fib_num)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [9]:
list1 = [1,2,3,4,5]
sort_asc = True
sort_desc = True

for i in range(1, len(list1)):
    if list1[i] > list1[i-1]:
        sort_desc = False
    elif list1[i] < list1[i-1]:
        sort_asc = False
        
if sort_asc:
    print('this list is sorted in ascending order')
elif sort_desc:
    print('this list is sorted in descending order')
else:
    print('this list is not sorted')

this list is sorted in ascending order

In [10]:
list1 = [1, 2, 12, 3.2, 4, 5]
sort_asc = True
sort_desc = True

for i in range(1, len(list1)):
    if list1[i] > list1[i - 1]:
        sort_desc = False
    elif list1[i] < list1[i - 1]:
        sort_asc = False

if sort_asc:
    print('this list is sorted in ascending order')
elif sort_desc:
    print('this list is sorted in descending order')
else:
    print('this list is not sorted')

this list is not sorted

31. Rotate a list to the left by `n` positions.

In [12]:
# Function to rotate a list to the left by n positions
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 5

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [6, 1, 2, 3, 4, 5]

32. Rotate a list to the right by `n` positions.

In [29]:
list1 = [1,2,3,4,5]
n = 3

rotated = list1[-n:] + list1[:-n]
print(rotated)

[3, 4, 5, 1, 2]

33. Create a list of prime numbers up to 50.

In [56]:
prime_num = [2,3]
for i in range(4,51):
    if i%2 != 0:
        prime_num.append(i)
for i in prime_num:
    if i%3 == 0 or i%5 == 0 or i%7 == 0:
        prime_num.remove(i)
print(prime_num)

[2, 5, 9, 11, 13, 17, 19, 23, 27, 29, 31, 35, 37, 41, 43, 47]

In [55]:
def is_prime(number):
    if number <= 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

# Generate and print prime numbers between 1 and 50
for num in range(1, 51):
    if is_prime(num):
        print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

34. Split a list into chunks of size `n`.

In [16]:
def chunk_split(lst, n):
    chunks = []
    for i in range(0,len(lst),n):
        chunks.append(lst[i:i+n])
    return chunks
    
# example usage
my_list = [1,2,3,4,5,6,7,8,9,10]
n = 2
chunks = chunk_split(my_list,n)
print(chunks)

[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]

In [18]:
# using yield
def chunk_split(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = 3
chunks = list(chunk_split(my_list, n))
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list.

In [18]:
list1 = [5,4]
sorted_list = sorted(set(list1))
if len(sorted_list) >= 2:
    print('second largest number is: ',sorted_list[-2])
else:
    print('their is not enough elements')

second largest number is:  4

36. Replace every element in a list with its square.

In [20]:
my_list = [2,4,6,8]
squared_list = []
for i in my_list:
    i = i*i
    squared_list.append(i)
print(squared_list)

[4, 16, 36, 64]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [5]:
my_list = ['ken','serem','victor','bryan']
my_dict ={}
for i in my_list:
    my_dict[i] = my_list.index(i)
print(my_dict)

{'ken': 0, 'serem': 1, 'victor': 2, 'bryan': 3}

In [6]:
# Example list
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

38. Shuffle the elements of a list randomly.

In [7]:
# import random
import random
my_list = [1,2,3,4,5,6,7,8,9,10]
random.shuffle(my_list)
print('shuffled list: ',my_list)

shuffled list:  [5, 4, 1, 3, 7, 9, 10, 8, 2, 6]

39. Create a list of the first 10 factorial numbers.

In [4]:
factorials = [1]
result = 1

for n in range(1, 11):
    result *= n
    factorials.append(result)

print(factorials)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [5]:
# Function to calculate factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [10]:
list1 = [1,2,3,4,5]
list2 = [1,5,3,6,7,8,9]
com_el = []
for i in list1:
    if i in list2:
        com_el.append(i)
if len(com_el) == 0:
    print('their are no common elements')
else:    
    print('the common elements are: ',com_el)

the common elements are:  [1, 3, 5]

41. Remove all elements from a list.

In [12]:
my_list = [1,2,3,4,5,6]
my_list = []
print(my_list)

[]

In [13]:
# using the clear method

In [15]:
my_list = [1,2,3,4,5,6]
my_list.clear()
print(my_list)

[]

42. Replace negative numbers in a list with 0.

In [19]:
list1 = [-3,-2,1,2,3]
list1 = [0 if i < 0 else i for i in list1]
print(list1)

[0, 0, 1, 2, 3]

43. Convert a string into a list of words.

In [23]:
string1 = 'we all love python soo much'
string1 = string1.split(' ')
my_list = list(string1)
print(my_list)

['we', 'all', 'love', 'python', 'soo', 'much']

44. Convert a list of words into a string.

In [26]:
my_list = ['we', 'all', 'love', 'python', 'soo', 'much']
' '.join(my_list)

'we all love python soo much'

45. Create a list of the first `n` powers of 2.

In [34]:
def powers_of_two(n):
    list2 = [2**i for i in range(n+1)]
    print(list2)
powers_of_two(5)

[1, 2, 4, 8, 16, 32]

46. Find the longest string in a list of strings.

In [37]:
my_list = ['trevor','ken','serem','bryan','regan']
longest = ''
for i in my_list:
    if len(i) > len(longest):
        longest = i
print(longest)

trevor

47. Find the shortest string in a list of strings.

In [7]:
my_list = ['trevor','ken','serem','bryan','regan','gin']
shortest = float('inf')
shortest_str = None
for i in my_list:
    if len(i) < shortest:
        shortest = len(i)
        shortest_str = i
print(shortest_str)

ken

In [9]:
my_list = ['trevor', 'ken', 'serem', 'bryan', 'regan','gin']
shortest_length = float('inf')
shortest_words = []

for word in my_list:
    word_length = len(word)
    
    if word_length < shortest_length:
        shortest_length = word_length
        shortest_words = [word]  # Start a new list with the current shortest word
    elif word_length == shortest_length:
        shortest_words.append(word)  # Add word to the list of shortest words

print("Shortest words:", shortest_words)

Shortest words: ['ken', 'gin']

48. Create a list of the first `n` triangular numbers.

In [12]:
def triangular_nums(n):
    sum1 = None
    list1 = []
    for i in range(1,n+1):
        if i == 1:
            sum1 = 1
            list1.append(sum1)
        else:
            sum1 = i+sum1
            list1.append(sum1)
            
    return list1

triangular_nums(10)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49. Check if a list contains another list as a subsequence.

In [15]:
my_list = [1,2,[3,4,5,6],7,8]
another_list = False
for i in my_list:
    if type(i) == list:
        another_list = True
if another_list:
    print('this list has another list')
else:
    print('this list has no other list inside')

this list has another list

50. Swap two elements in a list by their indices.

In [18]:
my_list = ['trevor','serem','programmer','forever']
# indexes to swap
index1 = 3
index2 = 2
# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print(my_list)

['trevor', 'serem', 'forever', 'programmer']

## Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [2]:
my_tuple = (1,2,3,4,5)
my_tuple

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [3]:
my_tuple = (1,2,3,4,5)
my_tuple[2]

3

3. Find the length of a tuple without using the `len()` function.

In [5]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
count = 0
for i in my_tuple:
    count += 1
print(f'my_tuple has {count} items')

my_tuple has 10 items

4. Count the occurrences of an element in a tuple.

In [8]:
my_tuple = (10,30,30,20,45,16)
element = 30
count = 0
for i in my_tuple:
    if i == element:
        count += 1
print(count)

2

5. Find the index of the first occurrence of an element in a tuple.

In [11]:
my_tuple = (10,30,30,20,45,16)
element = 30
index_to_find = -1
for index, item in enumerate(my_tuple):
    if item == element:
        index_to_find = index
        break #once the index is found no need to continue in the looop
if index_to_find != -1:
    print(f'the first occurence of element {element} is {index_to_find}')
else:
    print(f'the element {element} was not found in the table')

the first occurence of element 30 is 1

6. Check if an element exists in a tuple.

In [15]:
my_tuple = (10,30,30,20,45,16)
element = 20
print(f'the element {element} exists') if element in my_tuple else print(f'the element {element} does not exist')

the element 20 exists

7. Convert a tuple to a list.

In [16]:
my_tuple = (1,2,3,4,5,6)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5, 6]

8. Convert a list to a tuple.

In [19]:
# Create a list
my_list = [1,2,3,4,5]

my_tuple = tuple(my_list)


print(my_tuple)

(1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [2]:
my_tuple = (10,20,30,40)
var1,var2,var3,var4 = my_tuple
print('variable 1:', var1)
print('variable 2:', var2)
print('variable 3:', var3)
print('variable 4:', var4)

variable 1: 10
variable 2: 20
variable 3: 30
variable 4: 40

In [5]:
# Unpacking with the * operator to capture remaining elements as a list
my_tuple = (1, 2, 3, 4, 5)
first, *rest = my_tuple

# first will be 1, and rest will be [2, 3, 4, 5]
print(first)

1

10. Create a tuple of even numbers from 1 to 10.

In [9]:
even_tuple = tuple(i for i in range(1,11) if i % 2 == 0)
print(even_tuple)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [10]:
odd_tuple = tuple(i for i in range(1,11) if i % 2 != 0)
print(odd_tuple)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [12]:
tuple1 = (1,2,3,4,5)
tuple2 = (5,6,7,8,9)
# using + to concatenate
tuple3 = tuple1+tuple2
print(tuple3)

(1, 2, 3, 4, 5, 5, 6, 7, 8, 9)

13. Repeat a tuple three times.

In [13]:
my_tuple = (3,2,1)
repeated_tuple = my_tuple*3
print(repeated_tuple)

(3, 2, 1, 3, 2, 1, 3, 2, 1)

14. Check if a tuple is empty.

In [14]:
tuple1 = (1,2,3)
if len(tuple1) == 0:
    print('the tuple is empty')
else:
    print('the tuple is not empty')

the tuple is not empty

15. Create a nested tuple.

In [20]:
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Print the nested tuple
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

16. Access the first element of a nested tuple.

In [19]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
first_element = nested_tuple[0]
print(first_element)

(1, 2, 3)

17. Create a tuple with a single element.

In [22]:
#Create a tuple with a single element
# the key is to include a comma, which inorms python that you want to create a tuple with only one element

my_tuple = (2,)
print('single element tuple:' ,my_tuple)

single element tuple: (2,)

18. Compare two tuples.

In [23]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. Delete a tuple.

In [25]:
my_tuple = (1,2,3)
del my_tuple
print(my_tuple)
# when i try to print the tuple i will get an error that it is not defined

NameError: name 'my_tuple' is not defined

20. Slice a tuple.

In [27]:
my_tuple  = (1,2,3,4,5,6,7,8)
# We use slicing [start:end] to extract a portion of the tuple. In this example
sliced_tuple = my_tuple[2:5]
print(sliced_tuple)

(3, 4, 5)

21. Find the maximum value in a tuple.

In [4]:
tuple1 = (10,20,30,40)
# using max()
max_value = max(tuple1)
print(max_value)

40

22. Find the minimum value in a tuple.

In [6]:
tuple1 = (10,20,30,40)
# using min()
max_value = min(tuple1)
print(max_value)

10

23. Convert a string to a tuple of characters.

In [10]:
my_string = 'serem'
my_tuple = tuple(my_string)
print(my_tuple)

('s', 'e', 'r', 'e', 'm')

24. Convert a tuple of characters to a string.

In [13]:
my_tuple = ('s', 'e', 'r', 'e', 'm')
my_string = ''.join(my_tuple)
print(my_string)

serem

25. Create a tuple from multiple data types.

In [15]:
# tuple with elements of different data types
mixed_tuple = (1, "hello", 3.14, True)

# Printing the tuple
print(mixed_tuple)

(1, 'hello', 3.14, True)

26. Check if two tuples are identical.

In [16]:
tuple1 = (1,2,3)
tuple2 = (1,2,3)
identical = tuple1 == tuple2
if identical:
    print('the two tuples are identical')
else:
    print('the two tuples are not identical')

the two tuples are identical

27. Sort the elements of a tuple.

In [19]:
my_tuple = (5,2,7,9,15,23,6)
# using sorted()
sorted_tuple = sorted(my_tuple)
print(sorted_tuple)

[2, 5, 6, 7, 9, 15, 23]

28. Convert a tuple of integers to a tuple of strings.

In [23]:
int_tuples = (1,2,3,4,5)
str_tuples = tuple((str(i) for i in int_tuples))
print(str_tuples)

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [26]:
str_tuples = ('1', '2', '3', '4', '5')
int_tuples = tuple((int(i) for i in str_tuples))
print(int_tuples)

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [28]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
merged_tuples = tuple1+tuple2
print(merged_tuples)

(1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [35]:
def flatten_tuple(nested_tuple):
    flattened_tuple =[] 
    for i in nested_tuple:
        # using isinstance of  and  the extend() to flatten the tuple or list and adding it to the flattened
        if isinstance(i, tuple) or isinstance(i ,list):
            flattened_tuple.extend(i)
        else:
            flattened_tuple.append(i)
    return tuple(flattened_tuple)

nested_tuple = (1,2,(3,4,5),(6,7,8),[1,2])
flatten_tuple(nested_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2)

32. Create a tuple of the first 5 prime numbers.

In [54]:
# Define a function to check if a number i is prime
def is_prime(i):
    # Check if i is less than or equal to 1; not prime
    if i <= 1:
        return False
    # Check if i is less than or equal to 3; prime
    if i <= 3:
        return True
    # Check if i is divisible by 2 or 3; not prime
    if i % 2 == 0 or i % 3 == 0:
        return False
    # Iterate through potential divisors from 5 up to the square root of i, with a step size of 6
    for divisor in range(5, int(i ** 0.5) + 1, 6):
        # Check if i is divisible by the current divisor or divisor + 2; not prime
        if i % divisor == 0 or i % (divisor + 2) == 0:
            return False
    # If none of the conditions are met, i is prime
    return True

prime_num = []
for i in range(1,6):
    if is_prime(i):
        prime_num.append(i)
print(tuple(prime_num))

(2, 3, 5)

In [41]:
def is_prime(number):
    if number <= 1:
        return False
    elif number <= 3:
        return True
    elif number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

prime_numbers = []
number = 2

while len(prime_numbers) < 10:
    if is_prime(number):
        prime_numbers.append(number)
    number += 1

print(tuple(prime_numbers))

(2, 3, 5, 7, 11, 13, 17, 19, 23, 29)

33. Check if a tuple is a palindrome.

In [44]:
def is_palindrome(my_tuple):
    return my_tuple == my_tuple[::-1]

my_tuple = ('radar')
if is_palindrome(my_tuple):
    print('this tuple is a palndrome')
else:
    print('this tuple is not a palindrome')

this tuple is a palndrome

34. Create a tuple of squares of numbers from 1 to 5.

In [46]:
squared_nums = [i**2 for i in range(1,6)]
print(tuple(squared_nums))

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [2]:
def is_even(i):
    if i%2 == 0:
        return True
    
my_tuple = (12,13,15,16,20,22,21)
new_list = []
for i in my_tuple:
    if not is_even(i):
        new_list.append(i)
final_tuple = tuple(new_list)
print(final_tuple)

(13, 15, 21)

36. Multiply all elements in a tuple by 2.

In [3]:
my_tuple = (12,13,15,16,20,22,21)
my_list = [i*2 for i in my_tuple]
final_tuple = tuple(my_list)
print(final_tuple)

(24, 26, 30, 32, 40, 44, 42)

37. Create a tuple of random numbers.

In [10]:
# need to import random library
import random
def generate_random(n):
    random_list = []
    count = 0
    while count < n:
        num = random.randint(1,100)
        # using random.randint to create a random number between 1 and 100
        random_list.append(num)
        count += 1
    random_tuple = tuple(random_list)
    return random_tuple
n = int(input('enter the number of random numbers you want: '))
generate_random(n)

enter the number of random numbers you want:  10

(91, 30, 93, 25, 55, 78, 6, 48, 28, 84)

38. Check if a tuple is sorted.

In [10]:
def is_sorted(my_tuple):
    sorted_ascending = True
    sorted_descending = True

    for i in range(len(my_tuple)-1):
        if my_tuple[i] > my_tuple[i+1]:
            sorted_ascending= False
        elif my_tuple[i] < my_tuple[i+1]:
            sorted_descending=False
        
    if sorted_ascending:
        print('this tuple is sorted in ascending order')
    elif sorted_descending:
        print('this tuple is sorted in descending order')
    else:
        print('this tuple is not sorted')
        
        
tuple1 = (1,2,3,4,5)
tuple2 = (5,4,3,2,1)
tuple3 = (1,4,2,3,5)
is_sorted(tuple3)

this tuple is not sorted

39. Rotate a tuple to the left by `n` positions.

In [11]:
def rotate_tuple_left(my_tuple, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = my_tuple[n:] + my_tuple[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [12]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [18]:
def generate_fibonacci(n):
    a,b = 0,1
    fibonacci = [a,b]
    while len(fibonacci) < n:
        next_num = a+b
        fibonacci.append(next_num)
        a = b
        b=next_num 
    return tuple(fibonacci)
generate_fibonacci(5)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [23]:
my_input = input('create a tuple separated by commas: ')
my_input = my_input.split(',')
my_tuple = tuple(my_input)
print(my_tuple)

create a tuple separated by commas:  10,20,30

('10', '20', '30')

43. Swap two elements in a tuple.

In [27]:
my_tuple = (1,2,3,4,5)
my_list = list(my_tuple)
# indexes to swap
index1 = 1
index2 = 3
first = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = first

print(tuple(my_list))

(1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [30]:
my_tuple = (1,2,3,4,5)
reversed_tuple = my_tuple[::-1]
print(m1)

(5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [31]:
n = int(input('enter how many powers of 2 you want: '))
powers_2 = [2**i for i in range(1,n+1)]
print(tuple(powers_2))

enter how many powers of 2 you want:  5

(2, 4, 8, 16, 32)

46. Find the longest string in a tuple of strings.

In [36]:
my_tuple = ('serem','ken','ryan','pegassi')
length = 0
longest_word = ''
for i in my_tuple:
    if len(i) > length:
        longest_word = i
        length = len(i)
print(f'{longest_word} is the longest string with {length} characters')

pegassi is the longest string with 7 characters

48. Create a tuple of the first `n` triangular numbers.

In [39]:
my_tuple = ('serem','ken','ryan','pegassi')
length = float('inf')
shortest_word = ''
for i in my_tuple:
    if len(i) < length:
        shortest_word = i
        length = len(i)
print(f'{shortest_word} is the shortest string with {length} characters')

ken is the shortest string with 3 characters

48. Create a list of the first `n` triangular numbers.

In [42]:
def generate_triangular_numbers(n):
    sum1 = 1
    tri_nums = [sum1]
    while len(tri_nums) < n:
        for i in range(2,n+1):
            sum1 = sum1+i
            tri_nums.append(sum1)
    return tri_nums        
result = generate_triangular_numbers(15)
print(tuple(result))

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120)

49. Check if a tuple contains another tuple as a subsequence.

In [4]:
def check_subsequence(main_tuple,sub_tuple):
    main_length= len(main_tuple)
    sub_length = len(sub_tuple)
    # We iterate through the main_tuple using a loop that runs until the end of the main tuple minus the length of the subtuple.
    #  This is because there's no need to compare subsequences if there isn't enough space left in the main tuple.
    for i in range(main_length-sub_length+1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False
#main tuple
main_tuple = (1,2,3,4,5,6,7,8,9)
#sub tuple
sub_tuple = (6,7,8)

if check_subsequence(main_tuple,sub_tuple):
    print('the main tuple contains another tuple as a subsequence')
else:
    print('the main tuple doesnot contain another tuple ')

the main tuple contains another tuple as a subsequence

50. Create a tuple of alternating 1s and 0s of length `n`.

In [16]:
def alt_1and0(n):
    my_list = []
    while len(my_list) < n:
        my_list.extend([1,0])
    # since the code will return more alternating 1 and 0 than required when n is odd number, we trim my_list  to only get values till n from 0 index
    return my_list[:n]
alt_1and0(10)

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

## Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [4]:
my_set = {i for i in range(1,6)}
print(my_set)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [5]:
my_set = {1, 2, 3, 4, 5}
# using the addd() function
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [6]:
my_set = {1, 2, 3, 4, 5}
# using the remove() function
my_set.remove(3)
print(my_set)

{1, 2, 4, 5}

4. Check if an element exists in a set.

In [9]:
my_set = {1, 2, 3, 4, 5}
element_to_check = 4
if element_to_check in my_set:
    print('the set contains the element')
else:
    print('the set does not contain the element')

the set contains the element

5. Find the length of a set without using the `len()` function.

In [10]:
my_set = {1, 2, 3, 4, 5}
count = 0
for i in my_set:
    count += 1
print(f'the length of the set is {count} characters')

the length of the set is 5 characters

6. Clear all elements from a set.

In [12]:
my_set = {1, 2, 3, 4, 5}
# using the clear() function
my_set.clear()
print(my_set)

set()

7. Create a set of even numbers from 1 to 10.

In [14]:
even_set = set()
for i in range(1,11):
    if i%2 == 0:
        even_set.add(i)
        
print(even_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [15]:
odd_set = set()
for i in range(1,11):
    if i%2 != 0:
        odd_set.add(i)
        
print(odd_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [18]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
# using union()
union_set = set1.union(set2)
print('the union of set1 and set2 is: ',union_set)

the union of set1 and set2 is:  {1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [19]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
intersection_set = set1.intersection(set2)
print('the intersection of set1 and set2 is: ',intersection_set)

the intersection of set1 and set2 is:  {3, 4, 5}

11. Find the difference between two sets.

In [20]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
difference_set = set1.difference(set2)
print('the diffference between set1 and set2',difference_set)

the diffference between set1 and set2 {1, 2}

12. Check if a set is a subset of another set.

In [22]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
# using the  is subset() method to check for subset
is_subset = set1.issubset(set2)
if is_subset:
        print('set1 is a subset of set2')
else:
    print('set1 is not a subset of set2')

set1 is a subset of set2

13. Check if a set is a superset of another set.

In [23]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}
# checking using the isusperset() method
is_superset = set1.issuperset(set2)
if is_superset:
    print('set1 is a superset of set2')
else:
    print('set1 is not a superset of set2')

set1 is a superset of set2

14. Create a set from a list.

In [25]:
my_list = [1,2,3,4,5]
# Use the set() constructor to convert the list into a set
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [27]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print(my_list)

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [31]:
import random  # Import the random module
my_set = {1, 2, 3, 4, 5}
random_num = random.choice(list(my_set))
my_set.remove(random_num)
print(my_set)

{1, 2, 3, 4}

17. Pop an element from a set.

In [3]:
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()
print('popped element: ', popped_element)
print('original set', my_set)

popped element:  1
original set {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [7]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

common_elements=set1.intersection(set2)
if not common_elements:
    print('the two sets have no elements in common')
else:
    print('the two sets have elements in common,',common_elements)

the two sets have no elements in common

19. Find the symmetric difference between two sets.

In [8]:
set1 = {1,2,3,4,5}
set2 = {1,9,6,4,5}
# finding the difference between 2 sets,what is in set1 that is not in set2 and vice versa.dont confuse with intersection()
symmetric_difference = set1^set2
print('symmetric difference: ',symmetric_difference)

symmetric difference:  {2, 3, 6, 9}

20. Update a set with elements from another set.

In [9]:
set1 = {1,2,3,4}
set2 = {3,4,5,6,7}
# will also remove duplicates
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7}

21. Create a set of the first 5 prime numbers.

In [52]:
# Define a function to check if a number i is prime
def is_prime(i):
    # Check if i is less than or equal to 1; not prime
    if i <= 1:
        return False
    # Check if i is less than or equal to 3; prime
    if i <= 3:
        return True
    # Check if i is divisible by 2 or 3; not prime
    if i % 2 == 0 or i % 3 == 0:
        return False
    # Iterate through potential divisors from 5 up to the square root of i, with a step size of 6
    for divisor in range(5, int(i ** 0.5) + 1, 6):
        # Check if i is divisible by the current divisor or divisor + 2; not prime
        if i % divisor == 0 or i % (divisor + 2) == 0:
            return False
    # If none of the conditions are met, i is prime
    return True

# Create an empty set to store prime numbers
prime_set = set()

# Iterate through numbers from 1 to 5
for i in range(1, 6):
    # Check if each number is prime using the is_prime function
    if is_prime(i):
        # If the number is prime, add it to the prime_set
        prime_set.add(i)

# Print the set of prime numbers
print(prime_set)

{2, 3, 5}

22. Check if two sets are identical.

In [55]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4} 

# order of elements in sets dont matter
if set1 == set2:
    print('the sets are identical')
else:
    print('the sets are not identical')

the sets are identical

23. Create a frozen set.

In [57]:
my_set = {1,2,3,4,5}
#using frozenset() frozensets are immutable
my_frozen_set = frozenset(my_set)
print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [60]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element.
is_disjoint = set1.isdisjoint(set2)
if is_disjoint:
    print('set 1 is disjoint with set2')
else:
    print('set1 and set2 are joint')

set 1 is disjoint with set2

25. Create a set of squares of numbers from 1 to 5.

In [62]:
my_set = set()
for i in range(1,6):
    i = i**2
    my_set.add(i)
print(my_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [63]:
def is_even(num):
    if num%2 == 0:
        return True
my_set = {2,3,6,7,5,9,8,14,12}
even_numbers = set()
for i in my_set:
    if is_even(i):
        even_numbers.add(i)

In [64]:
print('original set: ',my_set)
print('even numbers: ',even_numbers)

original set:  {2, 3, 5, 6, 7, 8, 9, 12, 14}
even numbers:  {2, 6, 8, 12, 14}

27. Multiply all elements in a set by 2.

In [65]:
my_set = {2,3,6,7,5,9,8,14,12}
# using list comprehension
multi_2 = [i*2 for i in my_set]
print(set(multi_2))

{4, 6, 10, 12, 14, 16, 18, 24, 28}

28. Create a set of random numbers.

In [71]:
import random
def random_nums(n):
    random_set = set()
    for i in range(n+1):
        new_num = random.randint(1,100)
        random_set.add(new_num)
    return random_set

# n is the number of random numbers to be genrated
n= 10
random_nums(n)

{6, 22, 39, 41, 43, 56, 57, 75, 88, 91}

29. Check if a set is empty.

In [73]:
my_set = {2,3,6,7,5,9,8,14,12}
empty_set = set()
# checking my_set
if not my_set:
    print('my_set is empty')
else:
    print('my_set is not empty')
# checking empty_set
if not empty_set:
    print('empty_set is empty')
else:
    print('empy_set is not empty')

my_set is not empty
empty_set is empty

30. Create a nested set (hint: use frozenset).

In [2]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

#Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

#Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [3]:
my_set = {1,2,3,4,5}
element_to_remove = 4
# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)
print(my_set)

{1, 2, 3, 5}

32. Compare two sets.

In [6]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

# using set operations to compare the sets
# 1.checking for subset
# check if set1 is a subset of set2
is_subset = set1.issubset(set2)
#check if set2 is a subset of set1
is_superset = set1.issuperset(set2)
# 2. finding the intersection of the sets
intersection = set1.intersection(set2)
# 3.finding the union the sets
union = set1.union(set2)
# finding the elements that are in set1 but not in set2
difference1 = set1.difference(set2)
# finding the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

#output
print('set 1', set1)
print('set 2', set2)
print('is set1 a subset of set2: ',is_subset)
print('is set2 a subset of set2: ',is_superset)
print('the common elements between the sets are: ',intersection)
print('the union of set1 and  is: ',union)
print('elements that are in set1 and not in set2: ',difference1)
print('elements that are in set2 and not in set1: ',difference2)

set 1 {1, 2, 3, 4, 5}
set 2 {4, 5, 6, 7, 8}
is set1 a subset of set2:  False
is set2 a subset of set2:  False
the common elements between the sets are:  {4, 5}
the union of set1 and  is:  {1, 2, 3, 4, 5, 6, 7, 8}
elements that are in set1 and not in set2:  {1, 2, 3}
elements that are in set2 and not in set1:  {8, 6, 7}

33. Create a set from a string.

In [9]:
my_string = 'trevor'
my_set = set(my_string)
print(my_set)

{'e', 'o', 'v', 't', 'r'}

34. Convert a set of strings to a set of integers.

In [12]:
set_str = {'1','2','3','4','5'}
set_int = set()
for i in set_str:
    i = int(i)
    set_int.add(i)
    
print(set_int)

{1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [16]:
set_int = {1,2,3,4,5}
set_str = set()
for i in set_int:
    i = str(i)
    set_str.add(i)
    
print(set_str)

{'3', '4', '5', '1', '2'}

36. Create a set from a tuple.

In [17]:
my_tuple = (1,2,3,4,5)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [18]:
my_set = {1,2,3,4,5}
my_tuple = tuple(my_set)
print(my_tuple)

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [20]:
my_set = {1,2,3,4,5}
# using the max()
max_value = max(my_set)
print(max_value)

5

39. Find the minimum value in a set.

In [21]:
my_set = {1,2,3,4,5}
# using the min()
min_value = min(my_set)
print(min_value)

1

40. Create a set from user input.

In [23]:
def create_set(elements):
    my_set = set(elements)
    return my_set

args = input('enter the elements for your set,they should be comma separated: ')
# Split the input string into individual elements using ','
elements = args.split(',')
create_set(elements)

enter the elements for your set,they should be comma separated:  serem,ken,francis

{'francis', 'ken', 'serem'}

In [24]:
# Step 1: Initialize an empty set
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  12,11,15
>  serem,ken
>  yes,no
>  done

Final set: {'serem,ken', '12,11,15', 'yes,no'}

41. Check if the intersection of two sets is empty.

In [29]:
set1 = {1,2,3,4,5}
set2 = {6,7,8}

intersection = set1.intersection(set2)
# checking if they intersect 
if not intersection:
    print('set1 and set2 dont intersect')
else:
    print(intersection)

set1 and set2 dont intersect

42. Create a set of the first 5 Fibonacci numbers.

In [35]:

a,b = 0,1
fib_nums = {a,b}

while len(fib_nums) < 5:
    sum = a+b
    fib_nums.add(sum)
    a = b
    b = sum
# sets dont allow duplicates so the exta 1 , wont be printed
print(fib_nums)

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [37]:
my_list = [5,5,3,2,2,1,6]
# convert to a set to remove duplicates
my_set = set(my_list)

# convert back to a list
my_list = list(my_set)
print(my_list)

[1, 2, 3, 5, 6]

44. Check if two sets have the same elements, regardless of their count.

In [38]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1,7,8}
set2 = {8,7,1}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45. Create a set of the first `n` powers of 2.

In [39]:
def powers_2(n):
    power_set = set()
    for i in range(n+1):
        i = i**2
        power_set.add(i)
    return power_set

powers_2(10)

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

46. Find the common elements between a set and a list.

In [40]:
my_list = [1,1,2,3,4,5,5]
my_set = {1,2,3,6}

#convert list to set to remove duplicates
list_set = set(my_list)
# find the intersection
comm_elements = my_set.intersection(list_set)

if not comm_elements:
    print('the list and set have no elements in common')
else:
    print(comm_elements)

{1, 2, 3}

47. Create a set of the first `n` triangular numbers.

In [51]:
def triangular_nums(n):
    my_set = set()
    sum = 0
    for i in range(1,n+1):
        sum = i+sum
        my_set.add(sum)
    return my_set

triangular_nums(5)

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [54]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}
# using issubset()
is_subset = set2.issubset(set1)
if is_subset:
    print('set2 is a subset of set1')
else:
    print('set2 is not a subset of set1')

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [3]:
def alternating_1and0(n):
    my_set = set()
    while len(my_set) < n:
        my_set.add(1)
        if len(my_set) < n:
            my_set.add(0)
    return my_set

result = alternating_1and0(5)
print(result)

{0, 1}

50. Merge multiple sets into one.

In [2]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# using the | operator
merged_set = set1 | set2  | set3
    # similar to this
# merged_set = set1.union(set2, set3)

print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}